---
layout: archive
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="teaching">
  <h1>Teaching</h1>

  {% assign schools = site.teaching | group_by: "school" %}
  {% for school in schools %}
    <h2>{{ school.name }}</h2>
    <hr>
    {% for post in school.items %}
      <div class="teaching__item">
        <h3>{{ post.title }}</h3>
        <p><strong>{{ post.venue }}</strong></p>
        <p><em>{{ post.location }}</em> ({{ post.date | date: "%B %Y" }})</p>
        <p>{{ post.content | markdownify }}</p>
      </div>
    {% endfor %}
  {% endfor %}
</div>
